{{>message}}
<div class="row mt-5 d-flex justify-content-center">
  <div class="col-md-12 d-flex justify-content-center">
    <h1>{{leisurefit.name}}</h1>
  </div>
  <div class="col-md-8">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Training Day: {{leisurefit.Category.day}}</strong></li>
        <br>
        <li>{{leisurefit.description}}</li><br>
        <li class="d-flex justify-content-center"><img src="{{leisurefit.image}}"></li>
      </ul>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center m-5">
  <a href="/admin/leisurefits">回後台首頁</a>
</div>