<main class="m-5">
  <h1>後台</h1>
  {{>message}}
  <nav class="nav mt-5 mb-3">
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/leisurefits">貼文</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/categories">分類</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/courses">課程</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link active" href="/admin/trainees">學員</a>
  </nav>
  <hr>

  <br />
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">學員</th>
        <th scope="col">email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each trainees}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>
          <button type="button" class="btn btn-light mr-3">
            <a href="/admin/trainees/{{this.id}}/records" style="color: #c9461e; text-decoration: none;">Training</a>
          </button>
          <form action="/admin/trainees/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-light">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</main>