<div class="jumbotron"
  style="background-color: #688071; background-image: url({{cover}}); background-position: 50% 30%; background-repeat:no-repeat; background-size:cover;">
  <h3 class="display-4 text-white">大人的體育課</h3>
  <p class="lead text-white">一起在都市的束縛中，大力呼吸，解放心靈，奔放四肢</p>
  <hr class="my-4 bg-white">
  <p class="lead">
    <a class="btn  btn-white btn-md text-white" href="/leisurefits" role="button"
      style="background-color: #de6548;">Ｍore...</a>
  </p>
</div>
<main class="row  m-auto d-flex justify-content-center calendar">
  <nav class="nav d-flex justify-content-center my-5">
    {{#ifCond user.isAdmin isAuthenticated}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/leisurefits">後台</a>
    {{/ifCond}}
    {{#ifOne user.isAdmin isAuthenticated}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/user/profile">My Profile</a>
    {{/ifOne}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/leisurefits">課程</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3 active" href="/calendar">課程表</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/location">上課地點</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/contactUs">聯絡我們</a>
  </nav>
  <div class="col-md-12 d-flex flex-column align-items-center">
    <h1>課程表</h1>
    <h5 style="color: #31583f"><strong>Training Month: 2021.04</strong></h5>
  </div>
  <div class="mt-5 col-md-10 d-flex justify-content-center align-items-center">
    <div class="col-md-5 ml-3">
      <div class="d-flex  justify-content-center ">
        <img src="images/item-list.png" style="width: 25px;"><strong> 固定課程：</strong>
      </div>
      <ul class="my-2 list-unstyled d-flex flex-column align-items-center">
        <li>每週二，一起變強 - <a href="/leisurefits?categoryId=11" style="color: #31583f"><b>戶外體能</b></a></li>
        <li>每週三，一起變辣 - <a href="/leisurefits?categoryId=21" style="color: #dc6548"><b>女性限定</b></a></li>
        <li>每週四，一起變強 - <a href="/leisurefits?categoryId=31" style="color: #31583f"><b>Cross-Fit</b></a></li>
      </ul>
    </div>
    <div class="col-md-5 mr-3">
      <div class="d-flex  justify-content-center ">
        <img src="images/item-list.png" style="width: 25px;"><strong> 特別課：</strong>
      </div>
      <ul class="my-2 list-unstyled d-flex flex-column align-items-center">
        <li>4/11 我們野行 - 淡蘭古道</li>
        <li>4/12 基礎拳擊 - 客座教練：Josh</li>
        <li>4/19 基礎拳擊 - 客座教練：Josh</li>
        <li>4/26 基礎拳擊 - 客座教練：Josh</li>
      </ul>
    </div>
  </div>
  <img id="calendar" width="400" src="images/schedule_202105.png">
</main>