{{!-- <div class="jumbotron"
  style="background-color: #688071; background-image: url({{cover}}); background-position: 50% 30%; background-repeat:no-repeat; background-size:cover;">
  <h3 class="display-4 text-white">大人的體育課</h3>
  <p class="lead text-white">一起在都市的束縛中，大力呼吸，解放心靈，奔放四肢</p>
  <hr class="my-4 bg-white">
  <p class="lead">
    <a class="btn  btn-white btn-md text-white" href="/leisurefits" role="button"
      style="background-color: #de6548;">Ｍore...</a>
  </p>
</div> --}}
<main class="row  m-auto d-flex justify-content-center calendar">
  <nav class="nav d-flex justify-content-center my-5">
    {{#ifCond user.isAdmin isAuthenticated}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/admin/leisurefits">後台</a>
    {{/ifCond}}
    {{#ifOne user.isAdmin isAuthenticated}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/user/profile">My Profile</a>
    {{/ifOne}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/leisurefits">課程</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3 active" href="/calendar">課程表</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/location">上課地點</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/contactUs">聯絡我們</a>
  </nav>
  <div class="col-md-12 d-flex flex-column align-items-center">
    <h1>課程表</h1>
  </div>
  <div class="mt-5 col-md-10 d-flex justify-content-center align-items-center">
  </div>
  <div class="mr-3">
    <img width="300" src="/images/courses.jpg">
  </div>
  <div>
    <img id="calendar" width="300" src="/images/schedule_202105.PNG">
  </div>
</main>