{{!-- <div class="jumbotron"
  style="background-color: #688071; background-image: url({{cover}}); background-position: center; background-repeat:no-repeat; background-size:cover;">
  <h3 class="display-4 text-white">大人的體育課</h3>
  <p class="lead text-white">一起在都市的束縛中，大力呼吸，解放心靈，奔放四肢</p>
  <hr class="my-4 bg-white">
  <p class="lead">
    <a class="btn  btn-white btn-md text-white" href="/leisurefits" role="button"
      style="background-color: #de6548;">Ｍore...</a>
  </p>
</div> --}}
<main class="row mx-auto d-flex justify-content-center">
  <nav class="nav d-flex justify-content-center my-5">
    {{#ifCond user.isAdmin isAuthenticated}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-2" href="/admin/leisurefits">後台</a>
    {{/ifCond}}
    {{#ifOne user.isAdmin isAuthenticated}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-2" href="/user/profile">My Profile</a>
    {{/ifOne}}
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-2" href="/leisurefits">課程</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-2" href="/calendar">課程表</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-2 active" href="/location">上課地點</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/contactUs">聯絡我們</a>
  </nav>
  <div class="col-md-12  d-flex flex-column  align-items-center">
    <h1>上課地點</h1>
    <div class="mt-5">
      <p>週二、週四，我們在台大操場訓練，雨天會在辛亥橋下。</p>
      <p>週一、週三，我們在小巨蛋室內場地，一起瑜珈、一起變辣。</p>
      <p>每月一次的我們野行，台北所有郊山逐一攻下。</p>
    </div>
  </div>
  <div id="map" height="100px;" width="100px" class="mx-auto my-5"></div>
</main>