<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <style type="text/css">
    #map {
      height: 500px;
      width: 500px;
    }
  </style>

  <script>
    function initMap() {
      const labels = 'ab'
      const locations = [
        { lat: 25.018878, lng: 121.534602 }, //台大操場
        { lat: 25.022428, lng: 121.534221 }  //雨備 辛亥橋下
      ]
      const map = new google.maps.Map(document.getElementById("map"), {
        center: locations[0],
        zoom: 15,
      })
      const ground = `<div id="content">台大操場</div>`
      const rainyDay = `<div id="content">雨備場地</div>`
      const makers = locations.map((location, i) => {
        return new google.maps.Marker({
          position: location,
          map: map
        })
      })
      const infowindow = new google.maps.InfoWindow({
        content: ground,
      });
    }
  </script>
</head>

<main>
  <div id="map" height="100px;" width="100px" class="mx-auto mt-5"></div>

  <!-- Async script exe cutes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvDAucUyB_fHoVFAnSMFwllmNGCwOpY6U&callback=initMap&libraries=&v=weekly"
    async></script>
  <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
</main>

</html>