<div id="carouselExampleCaptions" class="carousel py-3" data-bs-ride="carousel">
  <div class="carousel-inners">
    <div class="carousel-caption pt-5">
      <div>
        <h5 class="display-4 text-white">大人的體育課
        </h5>
        <p class="lead text-white">一起在都市的束縛中，大力呼吸，解放心靈，奔放四肢</p>
      </div>
      <p class="lead">
        <a class="btn btn-white btn-sm text-white more-button" href="/leisurefits" role="button">Ｍore...</a>
      </p>
    </div>
    <div class="cover d-flex align-items-center justify-content-center col-12">
      <img src="/images/07.jpg" alt="cover-img" class="p-0 m-0">
      <img src="/images/08.jpg" alt="cover-img" class="p-0 m-0">
      <img src="/images/09.jpg" alt="cover-img" class="p-0 m-0">
      <img src="/images/10.jpg" alt="cover-img" class="p-0 m-0">
    </div>
    <div class="cover d-flex align-items-center justify-content-center col-12">
      <img src="/images/11.jpg" alt="cover-img" class="p-0 m-0">
      <img src="/images/12.jpg" alt="cover-img" class="p-0 m-0">
      <img src="/images/13.jpg" alt="cover-img" class="p-0 m-0">
      <img src="/images/14.jpg" alt="cover-img" class="p-0 m-0">
    </div>
  </div>
</div>