<main class="m-5">
  <h1>Profile</h1>
  <nav class="nav mt-5">
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3 active" href="/user/profile">My
      Profile</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/user/likedLeisurefits">My
      Collection</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/user/training">My Training</a>
  </nav>
  <hr>
  <a class="btn btn-info mx-3 btn-sm" href='/user/training/create'>Add Training Record</a>

  <br />
  <br />

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Workout</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each records}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.date}}</td>
        <td>{{this.workout}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a href="/user/training/records/{{this.id}}">More</a>
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</main>