<main class="m-5">
  <h1>Profile</h1> {{>message}}{{error}}
  <nav class="nav mt-5">
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3 active" href="/user/profile">My
      Profile</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link mr-3" href="/user/likedLeisurefits">貼文收藏</a>
    <a role="button" class="btn btn-outline-secondary btn-sm nav-link" href="/user/training">課程</a>
  </nav>

  <br />
  <br />
  <form action="/user/profile?_method=PUT" method="POST" class="d-flex" width="300px" height="200">
    <div class="m-auto">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="your name" value="{{name}}" required>
      </div>
      <div class="form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="your email" value="{{email}}"
          required>
      </div>
      <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="your password">
      </div>
      <div class="form-group mb-3">
        <label for="passwordConfirm" class="form-label ">Password Confirm</label>
        <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm"
          placeholder="confirm your password">
      </div>
      <a href="/user/profile" role="button" aria-disabled="true" class="btn btn-lg btn-light btn-block"
        style="color: #31583f">取消編輯</a>
      <button class="btn btn-lg btn-block" style="color: #dc6548">修改</button>
      <hr>
    </div>
  </form>


</main>